<<<<<<< HEAD
<div class = "frits_list">
	<% (@latest_frits).each do |frit| %>
	<div class = "frit">
		<%= frit.content %>
		<span class="user"><%= link_to(@frit.user, friters_path) %></span>
	</div>
	<% end %> 
</div>
=======
<!-- WELCOME TO FRITTER -->
<!-- LATEST FRITS -->
>>>>>>> 348d17ecfa7a4ed632e7d2e7084b2cc5b8824b14
